@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff2") format('woff2');
  font-weight: 700;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'OpenSans';
  color: inherit;
}

a {
  text-decoration: none;
}

.art-header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;

  position: relative;

  z-index: 1;

  display: block;
  justify-content: center;
  align-items: center;

  height: 634px;
}

.art-header::after {
  content: "";
  background-color: #000000;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;

  z-index: -1;
}

.mf-content {
  margin: 0 15 0 20px;

}

.logo {
  width: 272px;
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 219px;


}

.header-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;

  text-transform: uppercase;
  color: #ffffff;

  text-align: center;
  box-sizing: border-box;
  margin-top: 25px;

  padding: 5px;
  text-align: center;
}

#burger,
[for=burger] {
  display: none;
  z-index: 2;
}

.menu-brg {
  display: none;
}

[for=burger] {
  display: block;
  position: fixed;

  text-align: center;
  right: 15px;
  top: 14px;
}

[for=burger]::before {
  content: '\2630';
  color: #eeeeee;
  font-size: 30px;
}

.menu-brg {
  margin-top: -7px;
  background: #e1d9bd;

  color: white;
  z-index: 10;

  width: 100%;

}

#burger:checked+label+nav {
  display: block;
  position: fixed;

  top: 58px;
  background-color: #b59f5b;
  opacity: 0.97;
  padding: 10px;
  text-transform: uppercase;
  color: white;
}

#burger:checked+[for=burger]::before {
  content: '\2A32';
  font-size: 54px;
  position: relative;
  top: -8px;
}

li {

  list-style-type: none;
}

.brg-links {
  text-align: center;

}

.menu {
  display: none;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;

  text-align: center;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-item:nth-child(n + 2) {
  margin-left: 31px;
}

.trends-block {
  margin-bottom: 44px;
}

.trend-header {
  text-align: center;
  margin-top: 39px;
  margin-bottom: 23px;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}

.trend-header::after {
  content: "";
  border: 1px solid #e1d9bd;
  display: block;
  width: 64px;
  height: 1px;
  background-color: #e1d9bd;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;

}

.trend-card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  /*width: calc(25% - 3px); */
  min-height: 231px;
  box-sizing: border-box;

  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  padding-left: 19px;
  padding-right: 18px;
  display: flex;
  height: 100%;

}

.trend-card::after {
  content: "";
  background-color: #000000;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;

  z-index: -1;
}

.trend-card:nth-child(n + 1) {
  margin-bottom: 3px;

}

.trend-content {
  outline: 3px solid #b59f5b;

  padding-top: 24px;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 23px;

  width: 100%;


  display: inline-block;
  align-self: flex-end;
}

.first-trend-card {
  background-image: url("../images/trend1.jpg");

}

.second-trend-card {
  background-image: url("../images/trend2.jpg");
}

.third-trend-card {
  background-image: url("../images/trend3.jpg");
}

.fourth-trend-card {
  background-image: url("../images/trend4.jpg");
}


.tags {
  display: flex;
}

.trend-title {

  display: block;
  font-size: 16px;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;

  padding-right: 15px;
  margin-top: 8px;
}

.trend-title:hover {
  color: #b59f5b;
}

.style-link {
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  /*padding-left: 17px;*/
}

.trend-hov:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.tag-item:nth-child(n+2) {
  margin-left: 18px;
}

.block-space {
  margin: 36px 0px 62px 0px;

}

.block-space:nth-last-child(-n+2) {

  margin-top: -8px;
}

.info-block {
  
  margin-left: 16px;
}

.content-foto {
  width: 100%;

}

/*.latest-posts {
  display: flex;
    flex-wrap: wrap;
    margin: 0px 16px 0 16px; 
    justify-content: center;
}
*/

.title-name {
  margin-right: 18px;
}

.titie-link {
  font-size: 16px;

  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}

.titie-link:hover {
  color: #b59f5b;
}

time {
  display: inline-block;
  font-size: 12px;

  color: #888888;
  font-weight: 400;
  padding-right: 6px;

}

.autor-sighn {
  display: inline-block;
  font-size: 12px;
  color: #000000;
  font-weight: 700;

}

.main-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 21px;
  color: #0f0d0e;
  font-weight: 400;
  padding-top: 10px;
  max-width: 300px;
  letter-spacing: -0.55px;
}

/*.second-par {
  margin-top: -53px;
}*/

.last-block {
  margin-top: 12px;
}

.section-header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 17px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}

.section-header::after {
  content: "";
  border: 1px solid #e1d9bd;
  display: block;
  width: 64px;
  height: 2px;
  background-color: #e1d9bd;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

.section-block {
  display: flex;
  margin: 0px 0px 10px 14px;
}

.section-foto {
  min-width: 70px;
  margin-right: 19px;
  margin-top: 8px;
}

.section-link {
  font-size: 14px;

  text-transform: uppercase;
  color: #000000;
}


.article-block {
  width: 100%;
}

article:nth-last-child(-n+1) .content-foto {
  margin-top: 8px;
}

.input-forms {
  display: flex;
  justify-content: center;
}

.field {
  opacity: 1.541;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 16px;
  margin-top: 50px;
}

.first-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 294px;
  margin-left: 8px;
}

.field:focus,
.field:focus+button {
  outline: none;
  border-color: #b59f5b;
}

.button:hover {
  background-color: #323232;
}

.button {
  display: block;
  border: none;
  width: 58px;
  height: 48px;
  background-color: #b59f5b;
  cursor: pointer;
  margin-top: 50px;
}

.subscribe-button {
  border: none;
  width: 92%;
  height: 47px;
  background-color: #b59f5b;
  cursor: pointer;
  margin-top: 18px;
  margin-left: 1px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 14px;
}

.subscribe-button:hover {
  background-color: #323232;
}

.zoom {
  background-image: url("../svg/search.svg");
  width: 18px;
  height: 18px;
  margin-left: 16px;
  z-index: 10;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}

.second-section-header::after {
  content: "";
  border: 1px solid #e1d9bd;
  display: block;
  width: 64px;
  height: 2px;
  background-color: #e1d9bd;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

.second-form-row {
  margin-top: -33px;
}

.field-email {
  opacity: 1.541;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 92%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 16px;
  margin-top: 35px;
  margin-left: 14px;
}

.section-third {
  margin: 40px 0px 0px 10px;
}

.section-tags-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3px;
  font-size: 17px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}

.section-tags-header::after {
  content: "";
  border: 1px solid #e1d9bd;
  display: block;
  width: 64px;
  height: 2px;
  background-color: #e1d9bd;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

nav ul.section-tags .tag-box-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 3px solid #eeeeee;
  margin-bottom: 7px;
  padding-left: 11px;
  padding-right: 12px;
  padding-bottom: 2px;
}

.tag-box-item:nth-child(n+2) {
  margin-left: 4px;
}

nav ul.section-tags .tag-box-item:nth-child(8) {
  padding-right: 8px;
}

.tags-container {
  width: 100%;
}

.section-links {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-forth {
  margin: 32px 0px 0px -4px;
}

ul.section-theme {
  font-size: 15px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  margin-left: 18px;
}

li.theme-item {
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  height: 44px;
}

li.theme-item:nth-child(1) {
  margin-top: -9px;
}

li.theme-item:nth-child(2n+3) {
  margin-top: 6px;
}

.sup {
  display: inline-block;
  font-size: 11px;
  color: #b59f5b;
  font-weight: 700;

  vertical-align: super;
  padding-left: 5px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 1064px;
  ;
  margin: 0 auto;

  position: relative;
}

.product-card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  min-width: 300px;
  min-height: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-card:nth-child(n + 2) {
  margin-left: 5px;
}

.first-product-card {
  background-image: url(../images/shop-item-mobile1.jpg);
}

.second-product-card {
  background-image: url(../images/shop-item-mobile2.jpg);
}

.third-product-card {
  background-image: url(../images/shop-item-mobile3.jpg);
}

.product-content {
  min-width: 340px;
  max-height: 260px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 170px;
  margin-left: -20px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  position: absolute;
  outline: 3px solid #b59f5b;
}

.title-item {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-text {
  display: inline-block;
  max-width: 300px;
  min-height: 92px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;

}

.product-price-old {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}

.product-link {
  color: #b59f5b;
  text-decoration: underline;
}

.product-link:hover {
  text-decoration: underline;
}

.product-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.product-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-button {
  min-width: 140px;
  min-height: 48px;
  background: #b59f5b;
  color: #ffffff;
  border: none;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.product-button:hover {
  background-color: #323232;
}

@media (orientation: portrait) and (max-width: 640px) {
  
  .trends-block {
    display: flex;
    flex-wrap: wrap;
    
  }

  .trend-card {
    width: calc(100% - 2px);
    min-height: 247px;
    margin-right: 2px;
  }

}

@media (orientation: landscape) and (max-width: 640px) {

  .trends-block {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc(50% - 2px);
    min-height: 247px;
    margin-right: 2px;
  }

  [for=burger] {
    right: 50px;
  }

  .main-text {
    width: 95%;
  }

  .second-flex-form {
    display: flex;
    justify-content: center;
  }

  .first-form-row {
    display: flex;
    justify-content: center;
  }


  .field {
    width: 66%;
    height: 49px;
  }

  .button {
    width: 50px;
  }

  .field-email {
    width: 100%;
    margin-left: 0px;
  }

  .subscribe-button {
    width: 100%;
    margin-left: 0px;
  }
}

/* 2 колонки пейзаж*/

@media (orientation: portrait) and (min-width: 641px) and (max-width: 1200px) {

  .trend-card {
    width: calc(50% - 2px);
    min-height: 247px;
    margin-right: 2px;
  }

} /* 2 колонки портрет*/


@media (min-width: 768px) {
  .mf-content {
    width: 90%;
    margin: auto;
    display: flex;
  }

  .art-header {
    display: block;
    height: 394px;
  }

  .logo-block {
    display: block;
    margin-bottom: 30px;
    margin-left: -4px;
    padding-top: 44px;
  }

  .logo {
    width: 160px;
  }

  .header-text-block {
    display: block;
    max-width: 654px;
    margin: 0 auto;
  }

  .title {
    font-size: 39px;
    line-height: normal;
    margin-top: 52px;
    margin-left: 7px;
  }

  [for=burger] {
    right: 33px;
    top: 42px;
  }

  .menu-brg {
    margin-top: 15px
  }

  .trend-header {
    font-size: 18px;
    margin-top: 43px;
    margin-bottom: 19px;
  }

  .trend-header::after {
    margin-top: 9px;
  }

  .trends-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
  } 

  .trend-card {
    width: calc(50% - 2px);
    min-height: 247px;
    /*margin-right: 2px; */
  }
  .trend-card:nth-child(even) {
    margin-left: 1px;
}
.trend-card:nth-child(odd) {
  margin-right: 1px;
}


  .trend-title {
    font-size: 16px;
    padding-right: 34px;

  }

  .trend-content {
    padding-top: 26px;
    padding-left: 36px;
  }

  .content-boxes {
    display: flex;
    justify-content: center;
  }

  .resp-mq {
    min-width: 388px;
    margin-right: 36px;
  }

  .info-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .article-block {
    margin: 0px 0px 0px 19px;
    width: 100%;
  }

  .latest-posts {
    margin-left: 12px;
    width: 100%;
  }

  .block-space {
    margin: 36px 0px 45px 0px;
  }

  .content-foto {
    min-width: 100%;
    height: 100%;
    margin-top: 8px;
    margin-left: 12px;
  }

  article:nth-child(2) .content-foto {
    margin-top: 20px;
  }

  article:nth-child(3) .content-foto {
    margin-top: 20px;
  }

  article:nth-child(4) .content-foto {
    margin-top: 28px;
  }

  article:nth-child(5) .content-foto {
    margin-top: 30px;
  }

  .title-name {
    line-height: 23px;
    width: 400px;

  }

  .titie-link {
    font-size: 17px;
  }

  .section-block {
    width: 270px;
  }

  .tags {
    margin-top: 6px;
  }

  .info-block {
    margin-left: 8px;
  }

  .section-header {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .new-post-box {
    margin-top: 40px;
    margin-right: 48px;
    margin-left: 36px;
  }

  .autor-sighn {
    margin-top: 31px;
  }

  .main-text {
    margin-top: 19px;
    margin-bottom: 43px;
    letter-spacing: 0.15px;
    width: 398px;
    ;

  }

  p.second-par {
    margin-top: -38px;
  }

  h3 {
    line-height: 17px;
  }

  .first-form-row {
    width: 282px;
    margin-top: -5px;

  }

  .second-section-header {
    font-size: 14px;
    margin-top: 58px;
  }

  .field {
    margin-left: 14px;
  }

  .field-email {
    width: 95%;
    font-size: 13px;
    margin-top: 37px;
  }

  .subscribe-button {
    width: 95%;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
  }

  .section-third {
    margin: 55px 0px 0px 10px;
  }

  .section-tags-header {
    font-size: 14px;
    margin-right: 20px;

  }

  .section-forth {
    margin: 52px 0px 0px -4px;
  }

  .sup {
    padding-left: 0px;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1200px) {
  .trend-card {
    width: calc(24% - 2px);
    min-height: 247px;
    margin-right: 2px;
  }

} /* 4 колонки пейзаж*/


@media (min-width: 1201px) {
  .header-text-block {
    max-width: 674px;
    margin: auto;
  }

  .menu {
    display: block;
  }

  [for=burger] {
    display: none;
  }

  .logo-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width: 1660px) {

  .art-header {
    height: 450px;
  }

  .mf-content {
    width: 71%;
  }

  .logo {
    width: 182px;
  }

  .logo-block {
    margin-left: 6px;
    padding-top: 27px;
  }

  .menu-item:nth-child(n + 2) {
    margin-left: 37px;
  }

  .menu-list {
    letter-spacing: 0.5px;
  }

  .header-text-block {
    max-width: 41%;
  }

  .title {
    font-size: 43px;
    margin-top: 67px;
    line-height: 1.7em;
  }

  .trend-header {
    font-size: 19px;
    margin-top: 58px;
    margin-bottom: 29px;

  }

  .trend-card {
    width: calc(25% - 3px);
    min-height: 320px;
    padding: 25px;
    margin-right: 3px;
  }

  .trend-title {
    font-size: 19px;
    padding-right: 0px;
    width: 96%;
  }

  .latest-posts {
    display: flex;
    margin-top: 16px;
    margin-right: 0px;
  }


  .content-foto {
    min-width: 44%;
    height: 43%;
    margin-top: 0;
    padding-top: 0;
  }

  .info-box {
    justify-content: center;

  }

  .style-link {
    font-size: 15px;
  }

  .titie-link {
    font-size: 20px;
  }

  .info-block {
    margin-top: -6px;
    margin-left: 27px;
    margin-bottom: 73px;
    width: 350px;
  }

  .main-text {
    margin-top: 45px;
    width: 369px;
  }

  article:nth-child(2) .content-foto {
    margin-top: 0px;
  }

  article:nth-child(3) .content-foto {
    margin-top: 0px;
  }

  article:nth-child(4) .content-foto {
    margin-top: -32px;
  }

  article:nth-child(5) .content-foto {
    margin-top: 4px;
  }

  article:nth-child(4) .info-block {
    margin-top: -38px;
  }

  article:nth-child(5) .info-block {
    margin-top: 0px;
  }

  .section-header {
    margin-top: 16px;
    margin-right: 15px;
    font-size: 14px;
  }

  .section-block {
    margin: 0px 6px 10px 6px;
  }

  .first-form-row {
    margin-left: -24px;
  }

  .second-section-header {
    margin-top: 56px;
    margin-left: -26px;
  }

  .field-email {
    margin-left: 9px;
  }

  .subscribe-button {
    margin-left: 9px;
  }

  ul.section-theme {
    margin-left: 12px;
  }

}